*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f3f4f6;   /* light grey */
    min-height:100vh;
}

.header{
    padding:25px 40px;
    font-size:20px;
    font-weight: bold;
    color:#333;
}

h1{
    font-size:32px;
}

/* floating panel */
.controls{
    position:fixed;
    top:20px;
    right:20px;
    background:white;
    padding:10px 15px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

/* button */
#addNoteBtn, #organizeBtn{
    border:none;
    background:#4f46e5;
    color:white;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

#addNoteBtn:hover, #organizeBtn:hover{
    background:#4338ca;
}

#board{
    position:relative;
    width:100%;
    height:calc(100vh - 80px); /* full height minus header */
    padding:20px;
}

.note{
    width:200px;
    height:200px;
    background:#fff475;   /* sticky note yellow */
    padding:15px;
    border-radius:6px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    position:absolute;
    cursor:grab;
    display: flex;
    flex-direction: column;
    z-index: 1; /* so the z-index of the highligh and text doesn't make the text go above the note */
}

.noteTitle{
    width:100%;
    height:28px;
    border:none;
    outline:none;
    background:transparent;
    resize:none;
    font-family:inherit;
    font-size:16px;
    font-weight:bold;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.noteContent{
    height: 100%;
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    resize:none; 
    font-family:inherit;
    font-size:14px;
    padding: 0;
}

.deleteBtn{
    position:absolute;
    top:6px;
    right:8px;
    border: none;
    background: transparent;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    color:#444;
}

.noteStatus{
    position:absolute;
    top:8px;
    left:15px;
    font-size:11px;
    color:#666;
}

.noteStatus.saved{
    color:rgb(11, 96, 11);
}

.noteStatus.saving{
    color:#666
}

.colorMenu{
    position:absolute;
    background: white;
    padding:10px;
    border-radius:8px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    display:flex;
    flex-wrap: wrap;
    gap:8px;
    width: 145px;
}

.colorOption{
    width:22px;
    height:22px;
    border-radius:50%;
    cursor:pointer;
    border: 1px solid #ddd;
}

.closeColorMenu{
    position:absolute;
    top:6px;
    right:6px;
    border: none;
    background: transparent;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    color:#444;
}

.note.editing {
    outline: 3px solid #4f46e5;
    outline-offset: 2px;
}

#SearchInput {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

/*Highlight container --------------------------*/
.highlightContainer {
    position: relative;
    overflow: hidden;   
}

/*Title container*/
.note > .highlightContainer:first-of-type {
    margin-top: 14px;
    margin-bottom: 6px;
    overflow: hidden;
    display: flex;
    /* height is determined by the textarea's margin+height+margin = 48px */
    flex-shrink: 0;
}

/*Content container*/
.note > .highlightContainer:last-of-type {
    flex: 1;
    overflow: hidden;
    font-size: 14px;
}


/*Highlight layer--------------------------------*/
.highlightLayer {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none; /* allow clicks to pass through */
    white-space: pre-wrap; /* preserve whitespace and line breaks */
    overflow-wrap: break-word; /* allow long words to break */
    color: transparent; /* hide the text */
    z-index: 0; /* place it behind the textarea */
    font-family:Arial, sans-serif;
    font-size:inherit;
    line-height:inherit;
    letter-spacing:inherit;
    /*overflow: hidden; /* the highlights moving syncronized with the text when scrolling */
}

.highlightLayer span {
    background-color: rgba(255, 0, 0, 0.3); /* highlight color */
    color: transparent; /* hide the text */
}

.note > .highlightContainer:first-of-type .highlightLayer{
    height: 28px; /* match the title textarea height */
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
    min-height: 0;
    padding: 0;
}

.note > .highlightContainer:last-of-type .highlightLayer{
    top: 0;
    height: 100%;
    min-height: 100%;
}

textarea {
    position: relative;
    z-index: 1; /* place it above the highlight layer */
}
